#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 200px;
  height: 300px;

  display: flex;
  justify-content: space-between;

  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
}

.left {
  align-self: flex-start;
}

.middle {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.right {
  align-self: flex-end;
}
